*{
  text-align: center;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* White background */
  color: #333333; /* Black text color */
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif; /* Creative font for headings */
}

.highlight {
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
}

.logo img {
  height: 100px; /* Adjust the height of the logo */
  width: auto; /* Ensure the width adjusts proportionally */
  float: left;
}

.logo:hover{
  cursor: pointer;
}

.banner {
  margin-top: 100px;
  height: 500px;
  background-color: rgb(142, 142, 142);
  background-blend-mode: multiply;
  background-image: url("bg2.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 30px;
  color: #ebebeb;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Ensure navigation bar is on top of other content */
  background-color: #ffffff; /* White background */
  height: 100px; /* Set height of navigation bar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth effect */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center-align navigation items */
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 35px 40px; /* Increase padding for larger clickable area */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #333333; /* Black text color */
  font-size: 25px; /* Adjust font size */
  font-weight: bold; /* Add bold font weight */
  text-transform: uppercase; /* Uppercase text */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul li:hover {
  background-color: #f0f0f0; /* Lighten background color on hover */
}

/* Dropdown Menu */
nav ul li ul {
  display: none;
  position: absolute;
  background-color: #ffffff; /* White background */
}

nav ul li:hover ul {
  display: block;
}

/* Featured Products Section */
.featured-products {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to keep items in one row */
  justify-content: center; /* Center-align items */
  align-items: flex-start;
  overflow-x: auto; /* Add horizontal scrolling for smaller screens */
  padding-bottom: 0; /* Add some padding at the bottom */
}

.featured-products .product {
  text-align: center;
  margin: 0 10px; /* Add some spacing between products */
  padding: 10px; /* Add padding to create space around text */
  border: 1px solid #dddddd; /* Add border for styling */
  border-radius: 10px; /* Add border radius for rounded corners */
  background-color: #ffffff; /* White background */
  position: relative; /* Position relative for absolute positioning of button */
  width: 300px;
  height: max-content;
}

.featured-products .product img {
  width: 80%;
  height: 140%;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.featured-products .product h3 {
  margin-top: 0; /* Remove default margin for heading */
  margin-bottom: 0;
}

.featured-products .product p {
  margin-bottom: 30px; /*Add margin to separate text and button*/
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}

.purchase-button {
  position: absolute;
  bottom: 5px; /* Adjust the bottom value to move the button lower */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #333333; /* Dark grey background */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Add transition effect for smoother animation */
}

.purchase-button:hover {
  background-color: #555555; /* Lighten background color on hover */
  border-bottom: 2px solid #ffffff; /* Add underline effect on hover */
}


#product-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #202020;
  color: #f5f5f5;
  padding: 40px;
  margin-top: 30px;
}
#product-display img{
  filter: blur(0.4px);
}
.content1,
.content2 {
  width: 60%; /* Adjust as needed */
  margin-bottom: 20px; /* Add margin between rows */
}

#product-display h1 {
  font-size: 30px;
  margin-top: 20px;
  text-transform: uppercase;
}

#product-display ul, #about p {
  list-style-type: none;
  padding-left: 0;
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
}

#product-display li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.design-left,
.design-right {
  width: 20%; /* Adjust as needed */
  height: auto;
}
#about p {
  font-size:20px;
  line-height: 1.4;
}

.highlight {
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#contact .contact-text {
  font-size: 25px;
}
#contact .highlight {
  margin: 0;
}
.QR {
  width: 18%;
  height: auto;
  border: 1px solid white;
  border-radius: 10px;
}

/* Contact Form Styles */
input[type="text"], input[type="email"], input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #333333; /* Dark grey background */
  color: #ffffff; /* White text color */
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555555; /*Lighten background color on hover */
}

 footer {
  background-color: #333333; /* Dark background color */
  color: #ffffff; /* White text color */
  position: relative;
  padding: 20px 0; /* Padding for top and bottom */
  text-align: center; /* Center-align text */
  width: 100%; /* Full width */
  top: 30px; /* Stick to the bottom */
}

footer p {
  margin: 0; /* Remove default margin */
}
